
    <footer>
        <a href="https://github.com/sinyongsub"> 
            <img src="static/images/github.png">
        </a>
        <a class="madeBy" href="#">
            made by.Bondur
        </a>
    </footer>


</body>
</html>