<% include ./header.ejs%>
    
<div class="onePortfolio">
    <h1>bondur.xyx 포트폴리오 입니다.</h1>
    <br><br><br>
    <h3>HTML, CSS, JavaScript, Node.js 를 사용하였고,</h3>
    <h3>AWS를 이용 하였습니다.</h3>
    <h3>About 과 Portfolio 부분입니다. </h3>
    <br><br><br>
    <h2>포토샵으로 구상을 했습니다.</h2>
    <br><br>
    <h2>&lt;bondur.xyz에 접속했을 때 처음 나오는 화면입니다.&gt;</h2>
    <br><br>  
    
    <img src="static/images/oneAbout.jpg">
    <br><br><br><br>
    <h2>&lt;bondur.xyz에 접속하고 헤더부분에 Portfolio 를 눌렀을떄 나오는 화면입니다.&gt;</h2>  
    <br><br><br><br>
    <img src="static/images/onePort.jpg">

    <br><br><br><br>

    <h2>지금의 화면과 다른점이 있습니다</h2>
    <h2>더 좋은 구상이 떠오른다면 계속 바꾸려고 합니다.</h2>

    <br><br><br><br>

</div>
  
<style>
    .onePortfolio{text-align:center}
    .onePortfolio h1{margin:30px;font-size:40px;}
    .onePortfolio h2{margin:20px;}
    .onePortfolio h3{margin:10px;}
    .onePortfolio img{width:100%;height:1200px;}

    
           
        

        @media all and (max-width: 320px) {
            .onePortfolio h1{margin:30px;font-size:20px;}
            .onePortfolio h2{margin:20px;font-size:16px;}
            .onePortfolio h3{margin:10px;font-size:13px}
        }
        @media all and (min-width: 321px) and (max-width: 768px) {
            .onePortfolio h1{margin:30px;font-size:20px;}
            .onePortfolio h2{margin:20px;font-size:16px;}
            .onePortfolio h3{margin:10px;font-size:13px}
        }
        @media all and (min-width: 769px) {
              
        }

</style>    
                      
<% include ./footer.ejs%>
