<% include ./header.ejs %>
    
 <img class="portfolioImg" src="/static/images/main_visual.jpg">

    <ul class="portBox">
       <li>
            <img src="/static/images/firstPort.jpg">    
            <a href="/one">Click</a>
       </li>
        <li>
            <img src="/static/images/two.jpg">    
            <a href="http://yongsub.cafe24.com">Click</a>
       </li>
        <li>
            <img src="/static/images/three.jpg">    
            <a href="http://www.arijian.com">Click</a>
       </li>
        <li>
            <img src="/static/images/four.jpg">    
            <a href="http://yongsub.cafe24.com/hollys">Click</a>
       </li>
        <li>
            <img src="/static/images/five.jpg">    
            <a href="http://yongsub.cafe24.com/hyundai">Click</a>
       </li>
        <li>
            <img src="/static/images/six.png">    
            <a href="http://www.thecounseling.org">Click</a>
       </li>
        <li>
            <img src="/static/images/monitor.png">    
            <a href="http://leehansol.dothome.co.kr">Click</a>
       </li>
        <li>
            <img src="/static/images/monitor.png">    
            <a href="http://leehansol.dothome.co.kr">Click</a>
       </li>
        <li>
            <img src="/static/images/monitor.png">    
            <a href="http://leehansol.dothome.co.kr">Click</a>
       </li>
     
    </ul>


<% include ./footer.ejs %>
